<div class="alert alert-danger" role="alert">
    <strong>Page actuelle : Accueil</strong>
</div>

{% image '@EPSINewsBundle/Resources/public/images/newspaper.jpg' %}
<center> <img src ="{{ asset_url }}"/></center>
{% endimage %}


<hr />
<hr />
